body {
  font-family: Arial, sans-serif;
  background-color:rgb(199, 212, 240);
  display: grid;
  place-items: center;
}
h1 {
    text-align: center;
}
.appointment-form {
  background-color: aliceblue;
  display: grid;
  gap: 1.1rem;
  max-width: 500px;
  border: solid gray 1px;
  padding: 35px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 3%;
  margin:25px;
}
.appointment-form input,
.appointment-form textarea,
.appointment-form select {
  width: 100%;
  height: 30px;
  box-sizing: border-box; 
}
button {
  padding: 4px;
  background-color: rgb(65, 93, 207);
  font-size: 18px;
  color: white;
}
button:hover {
  background-color: rgb(23, 45, 134); ;
}
#btn1 {
  background-color: rgb(8, 165, 8);
  margin-left: 30%;
  padding: 10px;
  border-radius: 5px;
  text-decoration:none;
  font-size: 20px;
}

#message {
  margin-top: 20px;
  padding: 10px;
}

.success {
  color: green;
  font-size: 15px;
}

.error {
  color: red;
  font-size: 15px;
}

@media (min-width: 600px) {
  .appointment-form {
    max-width: 600px;
    grid-template-columns: 1fr 1fr;
  }

  label {
    grid-column: 1 / span 2;
  }

  textarea {
    grid-column: 1 / span 2;
  }
}
